<%- include('../_/header'); -%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/alterar-noticia/update" method="post">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" value="<%= noticia[0].titulo %>" placeholder="titulo da notíocia">
                </div>
                <div class="form-group">
                    <label for="resumo">Resumo</label>
                    <input type="text" class="form-control" id="resumo" name="resumo" value="<%= noticia[0].resumo %>" placeholder="Resumo da notíocia">
                </div>
                <div class="form-group">
                    <label for="autor">Nome do autor</label>
                    <input type="text" class="form-control" id="autor" name="autor" value="<%= noticia[0].autor %>" placeholder="Autor da notíocia">
                </div>
                <div class="form-group">
                    <label for="data_notici">Data dos fatos</label>
                    <input type="date" class="form-control" id="data_notici" name="data_notici" value="<%= noticia[0].data_notici %>" placeholder="Data da notíocia">
                </div>
                <div class="form-group">
                    <label for="noticia">Notícia</label>
                    <textarea class="form-control" id="noticia" name="noticia" rows="5" cols="30" placeholder="Conteúdo da notícia"><%= noticia[0].noticia %></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Alterar noticia">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../_/footer'); -%>
