<%- include('../_/header'); -%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="noticia_wrapper">
				<span class="noticia_autor"><%= noticia[0].autor %></span>
				<p href="noticia.html" class="noticia_titulo"><%= noticia[0].titulo %></p>
				<span class="noticia_data"><%= noticia[0].data_notici %></span>
				<br />
				<p class="noticia_resumo">
					<%= noticia[0].noticia %>
				</p>
				<div class="edit">
					<p>
						<a class="btn btn-primary" href="/alterar-noticia?id_noticia=<%= noticia[0].id_noticia%>">Editar</a>
					</p>
					<p>
					<form action="/delete/noticia">
						<button type="submit" class="btn btn-danger" value="Excluir">Excluir</button>
					</form>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../_/footer'); -%>
