<%- include('../_/header'); -%>
<div class="container">
	<div class="row">
		<% if (noticias.length > 0) {%>
			<% noticias.forEach(function(itens){ %>
				<div class="col-md-12">
					<div class="noticia_wrapper">
						<span class="noticia_autor"><%= itens.autor %></span>
						<a href="/noticia?id_noticia=<%= itens.id_noticia %>" class="noticia_titulo"><%= itens.titulo %></a>
						<span class="noticia_data"><%= itens.data_notici %></span>
						<br />
						<p class="noticia_resumo">
							<%= itens.resumo %>
						</p>
					</div>
				</div>
			<% }) %>
		<% }else{%>
			<div class="col-md-12">
				<div class="noticia_wrapper">
					<p>Nenhuma noticia cadastrada <strong>:</strong>(</p>
				</div>
			</div>
		<% }%>
	</div>
</div>
<%- include('../_/footer'); -%>